 
  <%= link_to "Home",  products_path %>

<table align="center" border="1">
    <tr>
    
    <th>Name</th>
    <th>Age</th>
    <th>Country</th>
   </tr>
 <% @product.each do |product| %>


    
    <tr>
    <td> <%= product.name %></td>
    <td> <%= product.age %></td>
    <td> <%= product.country %></td> 
    </tr>
    <%end%>