<!DOCTYPE html>
<html>
<head>
  <title>RedProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div align="center">
<font size="12" color="red">RED SEARCH!</font>
</div>
<body bgcolor="#E6E6FA">
<%= yield %>

</body>
</html>
